---
http_interactions:
- request:
    method: post
    uri: https://sqs.<amazon_region>.amazonaws.com/630008457067/test_mackweldon_from_quiet
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=10&QueueUrl=https%3A%2F%2Fsqs.<amazon_region>.amazonaws.com%2F630008457067%2Ftest_mackweldon_from_quiet&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190815T153047Z
      X-Amz-Content-Sha256:
      - e427658d6defb55f4327147fbd175571ca71f8eae322503a567cb602bd9930dc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<amazone_access_key>/20190815/<amazon_region>/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=18fa5dfd21162eb376e36ac1a033d5a0b5df7cce9881ef98ab76922fe7dccdbb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3e70b741-406d-5056-b9c2-e28e3c8a77ab
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>c9e80ebc-7b96-4810-aba5-d129387d1a00</MessageId><ReceiptHandle>AQEBp1Lc2Bw0jZpGbdtliiByk+5a/ukvUSXfUvEsqI+VkObaSoF1RS+ysZCTXpqZqo0NZnVgAGAltWEUAS6nYkPVyHhiL9idAaXiIc73AhHCJxvIOcqY4WQpTgQjBxg4GGXgkC+0dYxp51Ag4bfzgUmh5yRu1qDQXS/nOXvjCWTvnICbZyoxCAZzYeFIV7cFXFKi8t9w3VGVt8WPeb3jBindDpknHewZYyh6Hys6HPWIxWhaox3EnKbFXpR3J3uzKe+lrrkT1kqXi9i1ArOaWXNZpc7MuWNnR9NVr9noL+gZH+nRxYfSHdme9Jm+nQ7JlFai/03uRYE2gLxaJnml0XdpO7QGQx9ouITVQTOPYGOHAR9X/eOr1DjO7ObOfn70DlLKVQGsdtiw2MRSiKoKFAd7+w==</ReceiptHandle><MD5OfBody>a9dd99bd8641a19b3df3b90bf410d277</MD5OfBody><Body>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;&#xD;
        &lt;EventMessage xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; MessageId=&quot;6b9f2760-9759-4057-8aa0-da00bea51af8&quot; MessageDate=&quot;2019-08-12T16:12:48.0434895Z&quot; DocumentType=&quot;ShipmentOrderResult&quot; ClientId=&quot;<client_id>&quot; BusinessUnit=&quot;<client_id>&quot; Warehouse=&quot;DVN&quot; DocumentName=&quot;SoResultV2_<client_id>_R712449277-H36307541617_20190812_121233335.xml&quot; xmlns=&quot;http://schemas.quietlogistics.com/V2/EventMessage.xsd&quot;&gt;&#xD;
          &lt;Extension /&gt;&#xD;
        &lt;/EventMessage&gt;</Body></Message></ReceiveMessageResult><ResponseMetadata><RequestId>3e70b741-406d-5056-b9c2-e28e3c8a77ab</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Thu, 15 Aug 2019 15:30:47 GMT
[...]
- request:
    method: get
    uri: https://<ql_incoming_bucket>.s3.amazonaws.com/SoResultV2_<client_id>_R712449277-H36307541617_20190812_121233335.xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20190815T153049Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<amazone_access_key>/20190815/<amazon_region>/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=8b05fead34264af12dbf7b6529db6ab10369297f5096f5d5fbaf28ea6dfacc08
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - A749A9B21DC37205
      Last-Modified:
      - Mon, 12 Aug 2019 16:12:48 GMT
      X-Amz-Expiration:
      - expiry-date="Tue, 27 Aug 2019 00:00:00 GMT", rule-id="OTZjMjUwZTctMDJiYi00NWFkLTgxNGYtM2UxYzQ1MzNhMGVl"
      Etag:
      - '"4c126b4afdc055f277abb30a776b9eb7"'
      X-Amz-Meta-Title:
      - SoResultV2_<client_id>_R712449277-H36307541617_20190812_121233335.xml
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<SOResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" ClientID=\"<client_id>\"
        BusinessUnit=\"<client_id>\" OrderNumber=\"R712449277-H36307541617\" DateShipped=\"2019-08-05T14:07:00Z\"
        FreightCost=\"0\" CartonCount=\"1\" Warehouse=\"DVN\" xmlns=\"http://schemas.quiettechnology.com/V2/SOResultDocument.xsd\">\r\n
        \ <Line Line=\"1\" ItemNumber=\"M02B42-BNC-M\" Quantity=\"1\" ExceptionCode=\"\"
        Tax=\"0\" Total=\"37.0000\" SubstitutedItem=\"\" />\r\n  <Carton CartonId=\"S99R712449277-H36307541617-2019081418\"
        TrackingId=\"1Z1006881680002019081418\" Carrier=\"USPS\" CartonNumber=\"1\"
        ServiceLevel=\"FIRST\" Weight=\"1.2\" FreightCost=\"3.05\" HandlingFee=\"0\"
        Surcharge=\"0\">\r\n    <Content Line=\"1\" ItemNumber=\"M02B42-BNC-M\" Quantity=\"1\"
        />\r\n  </Carton>\r\n  <Extension />\r\n</SOResult>"
  recorded_at: Thu, 15 Aug 2019 15:30:49 GMT
[...]
